<form #employeeForm="ngForm" (ngSubmit)="saveEmployees()" >
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-6">
                <div class="panel panel-primary">

                <div class="panel-heading">
                    <h3 class="panel-title">Create User</h3>
                </div>

                <div class="panel-body">

                    <div class="form-group">
                        <label for="empid">EmpId</label>
                        <input type="text" name="empid" id="empid" [(ngModel)]="EmployeeDetails.id " [formControl]="formcontrol"
                            class="form-control">
                    </div>

                    <div class="form-group">
                        <label for="empname">Employee Name</label>
                        <input type="text" name="empname" [(ngModel)]="EmployeeDetails.name" class="form-control" [formControl]="formcontrol">
                    </div>




                    <div class="form-group">
                        <label>Designation</label>

                        <div class="form-control">
                            <label class="radio-inline">
                                <input type="radio" value="ITA" name="designation"
                                    [(ngModel)]="EmployeeDetails.designation">ITA
                            </label>
                            <label class="radio-inline">
                                <input type="radio" value="SE" name="designation"
                                    [(ngModel)]="EmployeeDetails.designation">
                                SE
                            </label>
                            <label class="radio-inline"><input type="radio" value="Trainee" name="designation"
                                    [(ngModel)]="EmployeeDetails.designation">
                                Trainee
                            </label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Technology</label>

                        <div class="form-control">
                            <label class="radio-inline">
                                <input type="radio" value="Angular" name="technology"
                                    [(ngModel)]="EmployeeDetails.Tech">Angular
                            </label>
                            <label class="radio-inline">
                                <input type="radio" value="Java" name="technology" [(ngModel)]="EmployeeDetails.Tech">
                                Java
                            </label>
                            <label class="radio-inline"><input type="radio" value="Testing" name="technology"
                                    [(ngModel)]="EmployeeDetails.Tech">
                                Testing
                            </label>
                        </div>
                    </div>
                </div>

                <div class="panel-footer">
                    <button type="submit" class="btn btn-primary">Save</button>
                    <button type="button" style="position:absolute ;left: 150px;" class="btn btn-primary pull-center" (click)="delete()">Delete</button>
                    <button type="button" style="position:absolute ;left: 250px;" class="btn btn-primary pull-center" (click)="update()">Update</button>
                    <button type="submit" class="btn btn-primary pull-right" (click)="isHidden=!isHidden">Show
                        List</button>
                </div>
            </div>
        </div>

        <div class="col-md-12" name="test" [hidden]="isHidden">


            <app-employee></app-employee>
        </div>
    </div>
    </div>
</form>